{% extends "main.html" %}

{% block title %}Accessibility | {% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-4 py-5 text-wrap">
    <h1 class="py-2">Accessibility of OPTIMAP</h1>

    <p class="lead">Discover research on a map with OPTIMAP - a research prototype in early development stage.</p>

    <p>This accessibility statement applies to OPTIMAP running ata <a href="https://optimap.geo.tu-dresden.de" title="OPTIMAP URL">https://optimap.geo.tu-dresden.de</a>. This website is run by the KOMET project team with the Chair of Geoinformatics, TUD Dresden University of Technology (see <a href="/about">About</a> page).
    The KOMET project team is committed to making its websites accessible, in accordance with "Website Accessibility Act" BfWebG (Barrierefreie-Websites-Gesetz) and the "Accessible IT Ordinance" BITV 2.0 (Barrierefreie-Informationstechnik-Verordnung), implementing EU Directive 2016/2102.
    </p>

    <p>OPTIMAP is a search platform for scientific publications based on articles with geospatial metadata, i.e., locations and time periods that are considered in a publication. OPTIMAP connects with journals, repositories, and preprint servers to put publications literally <em>on a map</em> to create new connections between research outputs across all scientific disciplines.</p>

    <p>We are committed to making OPTIMAP accessible to all users, including those with disabilities. This accessibility statement outlines our efforts to ensure that the platform will eventually meet the requirements of common guidelines, such as the <a href="https://www.w3.org/WAI/WCAG21/quickref/">Web Content Accessibility Guidelines (WCAG) 2.1</a>.
    However, being an early stage research project, we have considerable limitations when it comes to development resources, especially expertise in designing and maintaining accessible website.
    Nevertheless, we strive to provide a good experience for all users interested in our ideas and product and <a href="/contact" title="Link to contact page">we welcome your feedback</a>.</p>

    <h2 class="py-2">Preparation of this accessibility statement</h2>

    This statement was prepared on June 10 2025. The basis for issuing this accessibility statement is a self-assessment during June 2025.

    <h2 class="py-2">Compliance status</h2>

    <p>No BITV test has been conducted yet for OPTIMAP. This is planned in the form of self-evaluation at a later development stage, particular in case further funding beyond the current research prototype can be acquired. Follow our progress in the <a href="https://github.com/GeoinformationSystems/optimap/issues?q=sort%3Aupdated-desc+state%3Aopen+label%3A%22accessibility%22">development issues for improving accessibility</a>.</p>
If non-accessible content is already known, it should be added in the following section.

    <h2 class="py-2">Feedback and contact information</h2>

    <p>If you notice any shortcomings concerning accessible design, please contact the project team via eamail at <a href="mailto:komet@tu-dresden.de">komet@tu-dresden.de</a>.</p>

    <h2 class="py-2">Enforcement procedure</h2>

    <p>If we do not process your feedback satisfactorily from your point of view, you can contact the Enforcement Body of Saxony:</p>

    <p>Office of the Commissioner of the Saxon State Government for the Affairs of Persons with Disabilities<br>
    Albertstraße 10, 01097 Dresden<br>
    Postal address: Archivstraße 1, 01097 Dresden<br>
    Email: <a href="mailto:info.behindertenbeauftragter@sk.sachsen.de" title="report email"">info.behindertenbeauftragter@sk.sachsen.de</a><br>
    Telephone: +49 351 564-12161<br>
    Fax: +49 351 564-12169<br>
    Website: <a href="https://www.inklusion.sachsen.de" title="Website of the commissioner of the Saxon State  Government for the Affairs of Persons with Disabilities">https://www.inklusion.sachsen.de</a></p>
  </div>
</div>

{% endblock %}