<h1 class="py-2">Acknowledgements</h1>

<p>OPTIMAP is supported by research grants and carried out by the <a href="https://tib.eu">TIB – Leibniz Information Centre for Science and Technology<a/> and the <a href="https://tu-dresden.de/bu/umwelt/geo/geoinformatik/?set_language=en">Chair of Geoinformatics at the TUD Dresden University of Technology</a> together with partners from journals, publishers, and the research infrastructure community.</p>

<ul>
    <li>OPTIMETA: <a href="https://projects.tib.eu/optimeta">https://projects.tib.eu/optimeta</a><br/>
        Federal Ministry of Education and Research (BMBF) grant id: 16TOA028B</li>
    <li>KOMET: <a href="https://projects.tib.eu/komet">https://projects.tib.eu/komet</a><br/>
        Federal Ministry of Education and Research (BMBF) grant id: 16KOA009A<br/></li>
    <li>NFDI4Earth: <a href="https://nfdi4earth.de/">https://nfdi4earth.de/</a><br/>
        This work has been funded in part by the German Research Foundation (DFG) through the project NFDI4Earth (DFG project no. 460036893, https://nfdi4earth.de/) within the German National Research Data Infrastructure (NFDI, https://www.nfdi.de/). </li>
</ul>

