<h1 class="py-2">Acknowledgements</h1>

<p>OPTIMAP is supported by research grants and carried out by the <a href="https://tib.eu">TIB – Leibniz Information Centre for Science and Technology<a/>, the <a href="https://tu-dresden.de/bu/umwelt/geo/geoinformatik/?set_language=en">Chair of Geoinformatics at the TUD Dresden University of Technology</a>, and (formerly) the <a href="https://www.uni-muenster.de/Geoinformatics/en/index.html">Institute for Geoinformatics of the University of Münster</a> together with partners from journals, publishers, and the research infrastructure community.</p>

<ul>
    <li>OPTIMETA: <a href="https://projects.tib.eu/optimeta">https://projects.tib.eu/optimeta</a><br/>
        Federal Ministry of Education and Research (BMBF) grant id: 16TOA028B<br/>
        <img src="https://camo.githubusercontent.com/7472f493ee6eba8cffc90f7041c11a067b6be69498171c015d891334f3854dbf/68747470733a2f2f70726f6a656374732e7469622e65752f66696c6561646d696e2f5f70726f6365737365645f2f652f382f63736d5f4f7074696d6574615f4c6f676f5f7765625f393863323631343162312e706e67" alt="OPTIMETA logo" width="200px" />
    </li>
    <li>KOMET: <a href="https://projects.tib.eu/komet">https://projects.tib.eu/komet</a><br/>
        Federal Ministry of Education and Research (BMBF) grant id: 16KOA009A<br/>
        <img src="https://camo.githubusercontent.com/58876224378b51155c3d6b0e578e3ef5f3348f2d1b9e6d626a819f37fda9ad8b/68747470733a2f2f70726f6a656374732e7469622e65752f66696c6561646d696e2f74656d706c617465732f6b6f6d65742f7469625f70726f6a656374735f6b6f6d65745f313135302e706e67" alt="KOMET logo" width="100%" />
    </li>
    <li>NFDI4Earth: <a href="https://nfdi4earth.de/">https://nfdi4earth.de/</a><br/>
        This work has been funded in part by the German Research Foundation (DFG) through the project NFDI4Earth (DFG project no. 460036893, https://nfdi4earth.de/) within the German National Research Data Infrastructure (NFDI, https://www.nfdi.de/).
    </li>
</ul>

