<footer class="fixed-bottom page-footer font-small">
    <div class="footer-copyright text-center text-white py-3">
        <p class="mb-0 list-unstyled">
            <span class="px-3">&copy;&nbsp;{% now 'Y' %}&nbsp;<a class="text-white" title="OPTIMETA project website" href="https://projects.tib.eu/optimeta">OPTIMETA</a> &amp; <a class="text-white" title="KOMET project website" href="https://projects.tib.eu/komet">KOMET</a></span>
            <a class="px-2 text-white" title="Privacy information / Datenschutzerklärung" href="{% url 'optimap:privacy' %}">Privacy</a>
            <a class="px-2 text-white" title="Accessibility / Barrierefreiheit" href="{% url 'optimap:accessibility' %}">Accessibility</a>
            <a class="px-2 text-white" title="Data & API documentation and browser" href="{% url 'optimap:data' %}">Data & API</a>
            <a class="px-2 text-white" title="Link to source code project" href="https://github.com/GeoinformationSystems/optimap">Code&nbsp;(v{{ optimap_version }})</a>
            <a class="px-2 text-white" title="About / Contact / Imprint" href="{% url 'optimap:about' %}">About / Contact / Imprint</a>
            <span class="px-3">Data license: <a class="text-white" title="Publication metadata license" href='https://creativecommons.org/publicdomain/zero/1.0/'>CC-0</a></span>
        </p>
    </div>
</footer>
