<footer class="fixed-bottom page-footer font-small">
  <div class="footer-copyright text-center text-white py-3">
    <p class="mb-0 list-unstyled">
      <span class="px-3"
        >&copy;&nbsp;2023&nbsp;<a
          class="text-white"
          title="OPTIMETA project website"
          href="https://projects.tib.eu/optimeta"
          >OPTIMETA project</a
        >
        &amp;
        <a
          class="text-white"
          title="KOMET project website"
          href="https://projects.tib.eu/komet"
          >KOMET project</a
        ></span
      >
      <a
        class="px-3 text-white"
        title="Link to source code project"
        href="https://github.com/GeoinformationSystems/optimap"
        >Code</a
      >&nbsp;(v{{ optimap_version }})
      <a
        class="px-3 text-white"
        title="Privace information / Imprint"
        href="{% url 'optimap:privacy' %}"
        >Privacy / Imprint / Contact</a
      >
      <a
        class="px-3 text-white"
        title="Data & API browser"
        href="{% url 'optimap:data' %}"
        >Data & API</a
      >
      <a
        class="px-3 text-white"
        title="GeoJSON Feeds"
        href="{% url 'optimap:feeds_list' %}"
        >Feeds</a
      >
      <span class="px-3"
        >Publication data license:
        <a
          class="text-white"
          title="Publication metadata license"
          href="https://creativecommons.org/publicdomain/zero/1.0/"
          >CC-0</a
        ></span
      >
    </p>
  </div>
</footer>
