{% extends "base.html" %}

{% load static %}

{% block head %}

{{ block.super }}

<!-- Leaflet-->
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
<script src="{% static 'js/leaflet.js' %}"></script>

{% endblock head %}

{% block content %}
<div class="row">
  
  {# {%include timeline_snippet.html %} #}

  <div class="col w-100 p-0" style="width: 100%;">
    <!--Map-->
    <div id="map"></div>

    <!-- Search results status (for screen readers) -->
    <div id="search-results-status" class="sr-only" role="status" aria-live="polite" aria-atomic="true"></div>
  </div>
</div>
{% endblock content %}


{% block scripts %}
<script src="{% static 'js/map-popup.js' %}"></script>
<script src="{% static 'js/map-interaction.js' %}"></script>
<script src="{% static 'js/map-keyboard-navigation.js' %}"></script>
<script src="{% static 'js/map-search.js' %}"></script>
<script src="{% static 'js/map-gazetteer.js' %}"></script>
<script src="{% static 'js/map-zoom-to-all.js' %}"></script>
<script>
  // Pass Django settings to JavaScript
  window.OPTIMAP_SETTINGS = {
    gazetteer: {
      provider: '{{ gazetteer_provider }}',
      placeholder: '{{ gazetteer_placeholder }}'
    }
  };
</script>
<script src="{% static 'js/main.js' %}"></script>
{# <script src="{% static 'js/timeline.js' %}"></script> #}

<script type="text/javascript">
    $(document).ready(function () {
      const autoclose_seconds = 5;
      $("#autoclose_secs").text(autoclose_seconds);
      setTimeout(function() {
          $(".alert-autoclose").alert('close');
        }, autoclose_seconds * 1000);
    });
</script>
{% endblock %}

