{% extends "base.html" %}

{% load static %}

{% block head %}
<!-- Leaflet-->

<link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
{# <script type="text/javascript" src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script> #}
<script src="{% static 'js/leaflet.js' %}"></script>
{% endblock %}

{% block navbar %}

<ul class="nav navbar-nav">
  {% if request.user.is_authenticated %}
  {% include "authenticated_menu_snippet.html" %}
  {% else %}
  {% include "menu_snippet.html" %}
  {% endif %}
</ul>

{% endblock navbar %}

{% block content %}
<div class="row">
  
  {# {%include timeline_snippet.html %} #}

  <div class="col w-100 p-0" style="width: 100%;">
    <!--Map-->
    <div id="map"></div>
  </div>
</div>
{% endblock content %}


{% block scripts %}
<script src="{% static 'js/main.js' %}"></script>
{# <script src="{% static 'js/timeline.js' %}"></script> #}

<script type="text/javascript">
    $(document).ready(function () {
      const autoclose_seconds = 5;
      $("#autoclose_secs").text(autoclose_seconds);
      setTimeout(function() {
          $(".alert-autoclose").alert('close');
        }, autoclose_seconds * 1000);
    });
</script>
{% endblock %}

