<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    id="navbarDarkDropdown1"
    role="button"
    data-toggle="dropdown"
    aria-expanded="false">
    <i class="fa-solid fa-circle-user fa-3x"></i>
  </a>
  <ul
    class="dropdown-menu dropdown-menu-right"
    aria-labelledby="navbarDarkDropdown1"
    style="width: 30rem; margin-top: 1rem;">
    <span class="dropdown-item-text text-wrap"><em>New around here?</em> Login is handled password-less. Enter your email address and click the button below to receive a link you can use to log in. If the email is unknown to OPTIMAP, it will create a new account.</span>
    <span class="dropdown-item-text text-wrap">Want to stay <em>anonymous</em>? Use a public inbox like <a href="https://www.mailinator.com/">Mailinator</a> or check out our <a href="{% url 'optimap:privacy' %}">privacy information</a>.</span>
    <div class="dropdown-divider"></div>
    <li class="px-3 py-2">
      <form class="form" method="POST" action="{% url 'optimap:login_response' %}">
        {% csrf_token %}
        <div class="form-group">
          <input
            id="email"
            placeholder="Email"
            class="form-control form-control-sm"
            type="email"
            required=""
            name="email"
          />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Send login link</button>
        </div>
      </form>
    </li>
  </ul>
</li>
