{% extends "base.html" %}
{% block title %}Feeds | {% endblock title %}

{% block content %}
<div class="container px-4 py-8 max-w-3xl text-wrap">

  <h1 class="text-3xl mb-6 py-4">OPTIMAP feeds</h1>

  {% if global_feeds %}
    <h2 class="text-2xl mb-4">General feeds</h2>
    <p>Subscribe to research works from all sources, time periods, and regions.</p>
    <ul class="list-disc list-inside mb-8">
      {% for feed in global_feeds %}
        <li>
          <a href="{{ feed.url }}" class="text-blue-600 hover:underline">
            {{ feed.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <h2 class="text-2xl mb-4">Regional feeds</h2>
  <p>Subscribe to research works from selected continents or oceans.</p>

  <h3 class="text-xl mb-2 mt-4">Continents</h3>
  <ul class="list-disc list-inside space-y-2 mb-6">
    {% for region in regions %}
      {% if region.region_type == 'C' %}
      <li class="flex flex-wrap items-center space-x-2">
        <strong><a href="{% url 'optimap:feed-continent-page' region.normalized_slug %}" class="text-blue-800 hover:underline">{{ region.name }}</a></strong>:

        <a href="{% url 'optimap:api-continent-georss' region.normalized_slug %}"
           class="text-blue-600 hover:underline"
           title="GeoRSS for {{ region.name }}">RSS</a>
        <span>|</span>

        <a href="{% url 'optimap:api-continent-atom' region.normalized_slug %}"
           class="text-blue-600 hover:underline"
           title="Atom for {{ region.name }}">Atom</a>

        <small class="text-gray-500">(updated {{ region.last_loaded|date:"Y-m-d H:i" }})</small>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h3 class="text-xl mb-2">Oceans</h3>
  <ul class="list-disc list-inside space-y-2 mb-8">
    {% for region in regions %}
      {% if region.region_type == 'O' %}
      <li class="flex flex-wrap items-center space-x-2">
        <strong><a href="{% url 'optimap:feed-ocean-page' region.normalized_slug %}" class="text-blue-800 hover:underline">{{ region.name }}</a></strong>:

        <a href="{% url 'optimap:api-ocean-georss' region.normalized_slug %}"
           class="text-blue-600 hover:underline"
           title="GeoRSS for {{ region.name }}">RSS</a>
        <span>|</span>

        <a href="{% url 'optimap:api-ocean-atom' region.normalized_slug %}"
           class="text-blue-600 hover:underline"
           title="Atom for {{ region.name }}">Atom</a>

        <small class="text-gray-500">(updated {{ region.last_loaded|date:"Y-m-d H:i" }})</small>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <span class="mt-8 mb-4">Sources &amp; licenses for region data:</span>
  <ul class="list-inline text-sm text-gray-700">
    {% for region in regions %}
      <li class="list-inline-item flex mr-0">
        <a href="{{ region.source_url }}"
           class="flex-1 min-w-0 truncate text-blue-600 hover:underline"
           target="_blank"
           title="Source for {{ region.name }}">{{ region.name|safe }}</a>&nbsp;<span>(<a href="{{ region.license }}">license</a>)</span>
        {% if not forloop.last %}, {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>
{% endblock content %}
